@import '../abstract/variaveis';

.panel-form {
    padding: 32px 0;
    background-color: $cor-primaria-ligth;

    .title {
        font-size: 32px;
        color: $cor-terciaria;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
}

.button-place {
    text-align: center;
}

