@import '../abstract/variaveis';

.header {
    background: url('../img/destaque.jpeg') no-repeat;
    background-size: cover;
    padding-top: 32px;

    .main-menu {
        text-align: center;
    
        .menu-item {
            display: inline-block;
            margin: 0 2px 32px 0;

            & a {
                color: white;
                padding: 16px;
                background: $botao-cor-primaria;
                border-radius: 4px;
                text-transform: uppercase;
                text-decoration: none;
                transition: background-color .4s;

                &:hover {
                    background-color: $botao-cor-hover;
                }
            }
        }
    }
}

