@import '../abstract/variaveis';

.header {
    background: url('../img/destaque.jpeg') no-repeat;
    background-size: cover;
    padding-top: 32px;

    .main-menu {
        text-align: center;
    
        .menu-item {
            display: inline-block;
            margin: 0 0 32px 0;

            & a {
                color: white;
                padding: 16px;
                background: $botao-cor-primaria;
                border-radius: 4px;
                text-transform: uppercase;
                text-decoration: none;
                transition: background-color .4s;

                &:hover {
                    background-color: $botao-cor-secundaria;
                }
            }
        }
    }

    .jumbotron {
        text-align: center;
        padding: 0 0 44px 0;
        text-transform: uppercase;

        .panel-main {
            color: $cor-primaria;
            text-shadow: 4px 4px 10px black;
        }

        .title {
            font-size: 3em;
        }
    
        .subtitle {
            font-size: 2.625em;
            color: $cor-secundaria;
            margin-top: 8px;
        }

        

        .panel-subscribe {
            margin-top: 28px;
        }
        
        @media #{$mq-tablet} {
            font-size: 28px;
        }
    }

}

