@import '../abstract/variaveis';
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;800;900&display=swap");

body {
    font-family: 'Raleway', sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
    @media #{$mq-desktop} {
        width: 70%;
    }
}

.field {
    width: 80%;
    margin: 0 auto 16px auto;
    
    label {
        display: block;
        font-size: 20px;
        margin-bottom: 10px;
        font-weight: bold;
        color: $cor-terciaria;
    }

    .field-input {
        display: block;
        box-sizing: border-box;
        width: 100%;
        font-size: 20px;
        padding: 10px;
        border-radius: 5px;
        border: none;
        box-shadow:  2px 2px 4px #c7c7c7,
             -2px -2px 4px #f9f9f9;
    }
}

.button {
    display: inline-block;
    color: $cor-terciaria;
    text-decoration: none;
    font-size: 18px;
    padding: 20px 25px;
    background-color: $botao-cor-secundaria;
    border-radius: 8px;
    border: none;
    text-transform: uppercase;
    margin: 15px;
    transition: background-color  .2s;
    &:hover {
        background-color: darken($botao-cor-secundaria, 8%);
    }
}