$cor-primaria: #e0e0e0;
$cor-secundaria: #64FF64;
$cor-terciaria: #78594f;
$cor-primaria-ligth: #e0e0e0a5;

$botao-cor-primaria: rgb(0, 0, 0, 0.1);
$botao-cor-secundaria: #e1d0cac2;

$mq-tablet: "(min-width: 650px)";
$mq-desktop: "(min-width: 1200px)";
