/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;800;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

.container {
  width: 94%;
  margin: 0 auto;
}

.field {
  margin-bottom: 16px;
}
.field label {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}
.field .field-input {
  display: block;
  width: 100%;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #48A3A6;
}

.button {
  display: inline-block;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 18px;
  padding: 24px 64px;
  background-color: #48A3A6;
  border-radius: 8px;
}

.header {
  background: url("../img/destaque.jpeg") no-repeat;
  background-size: cover;
  padding-top: 32px;
}
.header .main-menu {
  text-align: center;
}
.header .main-menu .menu-item {
  display: inline-block;
  margin: 0 0 32px 0;
}
.header .main-menu .menu-item a {
  color: white;
  padding: 16px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.4s;
}
.header .main-menu .menu-item a:hover {
  background-color: #48A3A6;
}
.header .jumbotron {
  text-align: center;
  padding: 0 0 44px 0;
  text-transform: uppercase;
}
.header .jumbotron .panel-main {
  color: #FFFFFF;
  text-shadow: 4px 4px 10px black;
}
.header .jumbotron .title {
  font-size: 3em;
}
.header .jumbotron .subtitle {
  font-size: 2.625em;
  color: #64FF64;
  margin-top: 8px;
}
.header .jumbotron .panel-subscribe {
  margin-top: 28px;
}
@media (min-width: 650px) {
  .header .jumbotron {
    font-size: 28px;
  }
}

.panel-about {
  margin-top: 20px;
  text-align: center;
}
.panel-about .title {
  font-size: 40px;
  margin-bottom: 16px;
}
.panel-about .subtitle {
  font-size: 24px;
  margin-bottom: 16px;
}
.panel-about .about-description {
  font-size: 18px;
  line-height: 30px;
}

.panel-speakers {
  padding-top: 40px;
  background: #EF7247;
}
.panel-speakers .about-speakers {
  text-align: center;
}
.panel-speakers .title {
  color: #FFFFFF;
  font-size: 40px;
  margin-bottom: 16px;
}
.panel-speakers .speakers {
  text-align: center;
}
.panel-speakers .subtitle {
  color: #FFFFFF;
  font-size: 32px;
  margin-bottom: 16px;
}
.panel-speakers .speaker {
  background: #FFFFFF;
  display: inline-block;
  margin: 0 16px 32px 0;
  padding: 18px;
  border-radius: 10px;
  width: 220px;
  vertical-align: top;
}
.panel-speakers .speaker-image {
  border-radius: 50%;
}
.panel-speakers .speaker-name {
  margin-top: 10px;
}
.panel-speakers .speaker-bio {
  font-weight: bold;
  margin-top: 16px;
}
.panel-speakers .speaker-speach {
  margin-top: 16px;
}

.panel-form {
  margin-top: 32px;
}
.panel-form .title {
  font-size: 32px;
  color: #EF7247;
  text-align: center;
  text-transform: uppercase;
}

.button-place {
  text-align: center;
}/*# sourceMappingURL=style.css.map */