/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;800;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .container {
    width: 70%;
  }
}

.field {
  width: 80%;
  margin: 0 auto 16px auto;
}
.field label {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #78594f;
}
.field .field-input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 4px #c7c7c7, -2px -2px 4px #f9f9f9;
}

.button {
  display: inline-block;
  color: #78594f;
  text-decoration: none;
  font-size: 18px;
  padding: 20px 25px;
  background-color: rgba(225, 208, 202, 0.7607843137);
  border-radius: 8px;
  border: none;
  text-transform: uppercase;
  margin: 15px;
  transition: background-color 0.2s;
}
.button:hover {
  background-color: rgba(210, 185, 176, 0.7607843137);
}

.header {
  background: url("../img/destaque.jpeg") no-repeat;
  background-size: cover;
  padding-top: 50px;
}
.header .main-menu {
  text-align: center;
}
.header .main-menu .menu-item {
  display: inline-block;
  margin: 0 0 32px 0;
}
.header .main-menu .menu-item a {
  color: white;
  padding: 16px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.4s;
}
.header .main-menu .menu-item a:hover {
  background-color: rgba(225, 208, 202, 0.7607843137);
}
.header .jumbotron {
  text-align: center;
  padding: 0 0 44px 0;
  text-transform: uppercase;
}
.header .jumbotron .panel-main {
  color: #e0e0e0;
  text-shadow: 4px 4px 10px black;
}
.header .jumbotron .title {
  font-size: 3em;
  margin-top: 20px;
}
.header .jumbotron .subtitle {
  font-size: 2.625em;
  color: #64FF64;
  margin-top: 8px;
  font-weight: 600;
}
.header .jumbotron .panel-subscribe {
  margin-top: 28px;
}
@media (min-width: 650px) {
  .header .jumbotron {
    font-size: 28px;
  }
}

.panel-about {
  background-color: rgba(224, 224, 224, 0.6470588235);
  padding: 30px 0;
  text-align: center;
}
.panel-about .title {
  font-size: 38px;
  margin-bottom: 16px;
}
.panel-about .subtitle {
  font-size: 24px;
  margin-bottom: 16px;
}
.panel-about .about-description {
  font-size: 16px;
  line-height: 28px;
  width: 100%;
}
.panel-about .about-description p {
  max-width: 950px;
  margin: 0 auto;
}

.panel-speakers {
  padding: 30px 0;
  background: url("../../img/background-palestrantes2.svg");
  background-size: cover;
}
.panel-speakers .about-speakers {
  text-align: center;
}
.panel-speakers .title {
  font-size: 32px;
  margin-bottom: 16px;
}
.panel-speakers .speakers {
  text-align: center;
}
.panel-speakers .subtitle {
  font-size: 22px;
  margin-bottom: 28px;
  font-weight: 500;
}
.panel-speakers .speaker {
  background: #e0e0e0;
  display: inline-block;
  margin: 0 16px 32px;
  padding: 18px;
  border-radius: 10px;
  width: 220px;
  vertical-align: top;
  box-shadow: 2px 2px 4px #c7c7c7, -2px -2px 4px #f9f9f9;
}
.panel-speakers .speaker-image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 4px 4px 6px #c7c7c7, -4px -4px 6px #f9f9f9;
}
.panel-speakers .speaker-name {
  margin-top: 18px;
  font-size: 1.5rem;
}
.panel-speakers .speaker-bio {
  font-weight: bold;
  margin-top: 16px;
}
.panel-speakers .speaker-knowledge {
  margin-top: 16px;
  line-height: 1.4rem;
}

.panel-form {
  padding: 32px 0;
  background-color: rgba(224, 224, 224, 0.6470588235);
}
.panel-form .title {
  font-size: 32px;
  color: #78594f;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.button-place {
  text-align: center;
}/*# sourceMappingURL=style.css.map */